.bcard{
  width: 200px;
  height: 390px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.book_img img{
  width: 200px;
  height: 200px;
}

.book_img{
  position: relative;
  margin-bottom: 15px;
}

.book_details{
  padding: 1em .6em;
}

.books_buttons{
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 80px;
  border-radius: 0 0 0 28px;
  padding: 18px;
  justify-content: center;
  gap: 9px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all .2s;
}

.bcard:hover .books_buttons{
  opacity: 1;
}

.Browsebcard:hover .books_buttons{
  opacity: 1;
}

.BrowsebcardHighlighted:hover .books_buttons{
  opacity: 1;
}

.squareArrow{
  font-size: 1.3em;
  color: rgb(255, 255, 255);
}

.heart{
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

.heart:hover{
  cursor: pointer;
}

.squareArr{
  color: #fff;
}

.book_title, .book_author, .book_rating, .book_language, .book_discount, .book_page, .book_price{
  margin-bottom: 7px;
}

.book_title{
  font-size: 1.1em;
  font-family: "Montserrat", serif;
  font-weight: 500;
}

.book_author{
  font-size: .9em;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.book_rating, .book_language, .book_page{
  font-family: "Roboto", serif;
  font-size: 1em;
}

.book_discount{
  font-family: "Roboto", serif;
  font-weight: 600;
  color: green;
}

.shoePrice{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: 600;
  gap: .5em;
}
.book_price{
  font-size: 1.25em;
  font-family: "Roboto", serif;
}

.OGPrice{
  font-size: .9em;
  font-weight: 400;
  text-decoration: line-through;
  font-family: "Roboto", serif;
  color: #555;
}

.book_details{
  text-overflow: hidden;
}

@media (max-width: 760px){

  .bcard{
    width: 180px;
    height: 350px;
  }
  .book_img img{
    width: 180px;
    height: 180px;
  }
  .book_title, .book_author{
    font-size: .9em;
  }

  .book_language, .book_page{
    font-size: .8em;
  }

  .book_desc{
    font-size: .8em;
  }
  
  .squareArrow{
    font-size: 1.2em;
  }
  
  .heart, .heart_clicked{
    font-size: 1.3em; 
  }

  .shoePrice{
    font-weight: 500;
  } 

  .book_price{
    font-size: 1.1em;
    font-family: "Roboto", serif;
  }
  
  .OGPrice{
    font-size: .8em;
    font-weight: 400;
    text-decoration: line-through;
    font-family: "Roboto", serif;
    color: #555;
  }
}